#contain{
    background-color:rgba(1, 87, 166, 1);
}
#title{
    color: white;
    font-size: 3em;
    padding-top: 1%;
}
#subTitle{
    color: white;
    margin-top: 2%;
}
#example{
    margin: 2%  0%;
    height: 35em;
    width: 25em;
    justify-content: center;
}